body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app .header.ui.menu {
  border-radius: 0;
  background-color: #11497b;
  
  a.item {
    color: #ffffff;
    font-weight: bold;
  }
}

.main {
  padding: 0 15px;
}

.user-tags {
  padding-bottom: 20px;
  
  .ui.label {
    margin: 0.14285714000000382em;
  }
}

.user-cards .content .header {
  color: blue !important;
}
